@use '../vars' as *;

.tag-autocomplete {
  background-color: var(--color-hovering-preview-bg);
  border-radius: $radius-md;
  box-shadow: var(--shadow-menu);
  padding: $unit0;
  max-height: $unit10;
  overflow-y: auto;
  min-width: $unit7;
}

.tag-autocomplete-item {
  padding: $unit1 $unit2;
  cursor: pointer;
  font-size: 13px;
  border-radius: $radius-sm;
  color: var(--color-text);
  transition: background-color 0.1s ease-in-out;

  &:hover,
  &.selected {
    background-color: var(--color-bg-hover);
    color: var(--color-accent);
  }
}