.flashcards-page {
  padding: $unit4;
  background-color: var(--color-flashcards-page-bg);
  width: 100%;
  overflow-y: scroll;

  .flashcard {
    width: $unit11;
    .front,
    .back {
      background-color: var(--color-flashcards-page-card-bg);
    }
  }

  .review-mode {
    .question-area {
      display: flex;
      flex-direction: column;
      align-items: center;
      .review-card {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
          rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        border-radius: $unit0;
        background-color: var(--color-flashcards-page-card-bg);
        width: $unit12;
        .inner {
          display: flex;
          flex-direction: column;

          .question-image {
            width: $unit6;
            height: $unit6;
            margin: $unit1 auto 0;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .question {
            padding: $unit2;
            flex: 1;
            display: flex;
            align-items: center;
            min-height: $unit8;
            text-align: center;
            justify-content: center;
            line-height: 140%;
          }
          .actions {
            display: flex;
            align-items: center;
            padding: 0 $unit2 $unit2;
            justify-content: space-around;
            button {
              border: 0;
              padding: $unit1 $unit2;
              justify-content: center;
              color: var(--color-flashcards-page-btn-text);
              transition: background-color 0.2s ease-in-out;
              border-radius: $unit1;
              background-color: var(--color-flashcards-page-bg);
              &:hover {
                background-color: var(--color-flashcards-page-bg-hover);
              }

              &.show-answer {
                svg {
                  fill: var(--color-flashcards-page-btn-text);
                }
              }

              &.good,
              &.bad {
                width: $unit9;
              }

              &.good {
                color: $green;
                svg {
                  fill: $green;
                }
              }

              &.bad {
                color: $red;
                svg {
                  fill: $red;
                }
              }
            }
          }
        }
      }
      margin-bottom: $unit5;
    }

    .stats {
      margin-top: $unit5;
      text-align: center;
      color: var(--color-flashcards-page-secondary);
      font-weight: 100;
    }
  }

  .question-list {
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    max-width: 1080px;
    margin: 0 auto;

    .group {
      margin-bottom: $unit4;

      .group-head {
        margin-bottom: $unit3;
        display: flex;
        align-items: center;
        .tag {
          display: flex;
          margin-right: $unit3;
          font-size: $text4;
          color: var(--color-flashcards-page-accent);

          display: flex;
          align-items: center;
          justify-content: space-between;

          svg {
            fill: var(--color-flashcards-page-secondary);
          }
        }
      }

      .group-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
      }
    }
  }
}
