.note-area {
  flex: 1;
  overflow-x: auto;
  overflow-y: overlay;
  background-color: var(--color-note-area-bg);

  .inner {
    height: 100vh;
    position: relative;

    .note-section {
      height: 100vh;
      display: flex;
      justify-content: space-between;
      padding-top: 0rem;
      margin-top: $unit2;
      margin: 0 auto;

      .editor-place {
        width: 100%;
        flex: 1;
        padding: $unit3 $unit4;
        display: flex;
        flex-direction: column;
        position: relative;

        .note-panel {
          position: sticky;
          top: 0;
          left: 0;
          right: 0;
          z-index: 2;
          padding: 4px 0;
          border-radius: 8px;
          background-color: var(--color-note-area-bg-hover);
          display: flex;
          justify-content: center;
          align-items: center;
          padding: $unit0 0;
          margin-bottom: $unit4;

          .with-shadow {
            box-shadow: 0px 0px 4px 2px #ccc;
          }

          .note-panel-inner {
            position: relative;
            width: 100%;
            margin: 0 auto;
            padding: 0 $unit2;
            .inside {
              display: flex;
              justify-content: space-between;
              .left {
                display: flex;
                align-items: center;
              }
              .right {
                align-items: center;
                display: flex;
                .menu-action {
                  margin-left: $unit0;
                  padding: $unit1 0;
                  width: $unit5;
                  border-radius: 8px;
                  transition: background-color 0.2s ease-in-out;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  &:hover {
                    background-color: var(--color-note-area-bg-hover-intense);
                  }

                  &.active {
                    background-color: var(--color-note-area-bg-hover-intense);
                  }
                }
              }
            }
          }

          .level {
            color: var(--color-note-area-text-secondary);
          }

          a.menu-action {
            text-decoration: none;
            span {
              color: var(--color-note-area-text-secondary) !important;
              transition: color 0.1s ease-in-out;
            }
            svg {
              cursor: pointer;
              fill: var(--color-note-area-text-secondary) !important;
              width: $unit4;
            }
            &:hover {
              svg {
                fill: var(--color-note-area-accent) !important;
              }
              span {
                color: var(--color-note-area-accent) !important;
              }
            }
            &.active {
              svg {
                fill: var(--color-note-area-accent) !important;
              }
            }
          }

          .review-btn {
            background-color: transparent;
            color: var(--color-note-area-accent);
            display: inline-flex;
            width: auto;
            padding: $unit0 $unit1;
            letter-spacing: 0.7px;
            margin-right: $unit0;
            border-radius: $unit1;
            transition: background-color 0.2s ease-in-out;
            svg {
              fill: var(--color-note-area-accent);
            }
            &:hover {
              background-color: var(--color-note-area-bg-hover-intense);
            }
          }
        }

        .flashcards-toggler {
          position: absolute;
          top: $unit10;
          right: 0;
          z-index: 2;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: $unit1;
          background-color: var(--color-note-area-bg-hover);
          cursor: pointer;
          transition: opacity 0.2s ease-out, background-color 0.2s ease-out;
          padding: $unit0 $unit1;
          border-radius: $unit1;
          color: var(--color-note-area-text-secondary);
          transform: rotate(-90deg);
          font-size: $text0;
          text-transform: uppercase;
          svg {
            fill: var(--color-note-area-text-secondary);
            margin-right: $unit1;
          }
          &:hover {
            background-color: var(--color-note-area-bg-hover-intense);
          }
        }
      }
    }
  }

  @keyframes saving {
    0% {
      fill: var(--color-accent);
    }
    100% {
      fill: gold;
    }
  }

  .saving {
    animation: saving 0.5s infinite;
  }
}

.edit-toggle {
  display: flex;
  align-items: center;
  .edit-switch {
    svg {
      width: 20px;
      height: 20px;
      background-color: var(--color-note-area-bg-hover-intense);
      border-radius: 50%;
      padding: 4px;
    }

    .Mui-checked {
      svg {
        background-color: var(--color-note-area-accent);
        fill: var(--color-note-area-bg);
      }
    }
  }
}

.note-editor-body {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
  overflow-y: scroll;

  textarea {
    width: 100%;
    border: 0;
    resize: none;
    line-height: 140%;
    font-size: $text2;
    padding: 0;
    overflow-y: hidden;
  }

  textarea {
    width: 100%;
    max-width: $unit14;
    font-family: "Fira Mono", monospace;
  }
}

svg.save {
  margin-right: 1rem;
  fill: var(--color-note-area-text-secondary);
  &.pending {
    fill: var(--accent);
  }
}
