$menu-width: 200px;
$notes-width: 280px;
$notes-bar-height: 38px;

$header-height: 0px;

$text0: 12px;
$text1: 14px;
$text2: 16px;
$text3: 18px;
$text4: 20px;
$text5: 24px;
$text6: 30px;
$text7: 36px;
$text8: 48px;
$text9: 60px;
$text10: 72px;

$unit0: 4px;
$unit1: 8px;
$unit2: 12px;
$unit3: 16px;
$unit4: 24px;
$unit5: 32px;
$unit6: 48px;
$unit7: 64px;
$unit8: 96px;
$unit9: 128px;
$unit10: 192px;
$unit11: 256px;
$unit115: 304px;
$unit12: 384px;
$unit13: 512px;
$unit14: 640px;
$unit15: 768px;
$unit16: 960px;
$unit17: 1024px;

$green: #63ab7b;
$green-lighter: #4dc375;

$red: #f76b6d;
$red-lighter: #f78081;
